{{>header}}

<body>
    <nav class="#40c4ff light-blue accent-2">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">Notes App</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/">HOME</a></li>
                    <li class="active"><a href="/about">ABOUT</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
    </ul>

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="s12 center">
                    <h3>About Page</h3>
                </div>
                <div class="col s12">
                    <p class="center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt eveniet earum
                        sequi quo corrupti nobis. Hic quod ducimus nobis dolor voluptates similique nesciunt mollitia
                        iure amet, cumque recusandae? Officiis accusamus maxime soluta vel magni iste omnis recusandae
                        nulla reiciendis nam! Eligendi adipisci deserunt voluptatibus, cumque saepe quisquam atque
                        aliquam sapiente! Quae, repellat architecto adipisci omnis beatae dolor voluptates in,
                        provident, commodi earum nulla! Alias magni dicta dolorem, excepturi, ipsum cumque explicabo
                        quia perferendis assumenda aliquam at numquam labore illo eligendi ad nemo accusamus libero
                        iusto dignissimos mollitia repudiandae, corporis commodi a architecto. Alias fugit maiores omnis
                        dolores debitis? Dolore, odio!</p>
                    <p class="center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt eveniet earum
                        sequi quo corrupti nobis. Hic quod ducimus nobis dolor voluptates similique nesciunt mollitia
                        iure amet, cumque recusandae? Officiis accusamus maxime soluta vel magni iste omnis recusandae
                        nulla reiciendis nam! Eligendi adipisci deserunt voluptatibus, cumque saepe quisquam atque
                        aliquam sapiente! Quae, repellat architecto adipisci omnis beatae dolor voluptates in,
                        provident, commodi earum nulla! Alias magni dicta dolorem, excepturi, ipsum cumque explicabo
                        quia perferendis assumenda aliquam at numquam labore illo eligendi ad nemo accusamus libero
                        iusto dignissimos mollitia repudiandae, corporis commodi a architecto. Alias fugit maiores omnis
                        dolores debitis? Dolore, odio!</p>
                    <p class="center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt eveniet earum
                        sequi quo corrupti nobis. Hic quod ducimus nobis dolor voluptates similique nesciunt mollitia
                        iure amet, cumque recusandae? Officiis accusamus maxime soluta vel magni iste omnis recusandae
                        nulla reiciendis nam! Eligendi adipisci deserunt voluptatibus, cumque saepe quisquam atque
                        aliquam sapiente! Quae, repellat architecto adipisci omnis beatae dolor voluptates in,
                        provident, commodi earum nulla! Alias magni dicta dolorem, excepturi, ipsum cumque explicabo
                        quia perferendis assumenda aliquam at numquam labore illo eligendi ad nemo accusamus libero
                        iusto dignissimos mollitia repudiandae, corporis commodi a architecto. Alias fugit maiores omnis
                        dolores debitis? Dolore, odio!</p>
                </div>
            </div>
        </div>
    </section>
</body>

{{>footer}}

</html>