{{>header}}

<body>
    <nav class="#40c4ff light-blue accent-2">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">Notes App</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li class="active"><a href="/">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
    </ul>
</body>

<section id="main">
    <div class="container">
        <div class="row">
            <h4 class="title center-align">Notes App using NODE JS</h4>

            <div class="input-field m6 offset-m3 col s12 center">
                <textarea type="text" class="materialize-textarea" id="noteTitle" data-length="20"
                    maxlength="20"></textarea>
                <label for="noteTitle">Note Title</label>
            </div>

            <div class="input-field m6 offset-m3 col s12 center mt">
                <textarea type="text" class="materialize-textarea" id="noteBody" data-length="30"
                    maxlength="30"></textarea>
                <label for="noteBody">Note Body</label>
            </div>

            <div class="input-field col s12 center">
                <button class="btn waves-effect waves-light light-blue accent-2" id="add">Add Note</button>
            </div>
        </div>
        <div id="toast"></div>
        <div class="row" id="listdiv">
            <ul class="collapsible popout" id="noteslist">
                {{#if allNotes}}
                {{#each allNotes}}
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons collapsible-secondary del">delete</i>
                        <i class="material-icons collapsible-secondary cc expa caret">expand_more</i>
                        <span class="note-title">{{this.title}}</span>
                    </div>

                    <div class="collapsible-body">
                        <span>
                            {{this.body}}
                        </span>
                    </div>
                </li>
                {{/each}}
                {{else}}
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header">
                            <span class="center-align">Add note to show here !</span>
                        </div>
                    </li>
                </ul>
                {{/if}}
            </ul>
        </div>
    </div>


    </div>
</section>

{{>footer}}

</html>